﻿
@model gighub5.ViewModels.GigFormViewModel

    @{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a Gig</h2>
@using (Html.BeginForm("Create","Gigs"))
{@Html.AntiForgeryToken()
<div class="form-group">
        @Html.LabelFor(m => m.Venue)
        @Html.TextBoxFor(m => m.Venue, new  {@class ="form-control" })
        @Html.ValidationMessageFor(m=>m.Venue)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.Date)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Time)
        @Html.TextBoxFor(m => m.Time , new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.Time)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Genre)
        @Html.DropDownListFor(m =>m.Genre, new SelectList(Model.Genres,"Id","Name"),"",new { @class="form-control"})
        @Html.ValidationMessageFor(m=>m.Genre)
    </div>
    <button type="submit"  class="btn btn-primary">Save</button>
    <div class="form-group"></div>
    <div class="form-group"></div>
}
@section scripts{
 @Scripts.Render("~/bundles/jqueryval")
}